<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="$(arg prefix)caster_wheel">
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>

    <gazebo>
        <plugin 
            filename="gz-sim-diff-drive-system" 
            name="gz::sim::systems::DiffDrive">
            <left_joint>$(arg prefix)left_wheel_joint</left_joint>
            <right_joint>$(arg prefix)right_wheel_joint</right_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_radius>0.1</wheel_radius>
            <odom_publish_frequency>1</odom_publish_frequency>
            <topic>$(arg prefix)cmd_vel</topic>
            <odom_topic>$(arg prefix)odom</odom_topic>
            <tf_topic>$(arg prefix)tf</tf_topic>
            <frame_id>$(arg prefix)odom</frame_id>
            <child_frame_id>$(arg prefix)base_link</child_frame_id>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin 
            filename="gz-sim-joint-state-publisher-system" 
            name="gz::sim::systems::JointStatePublisher">
            <topic>$(arg prefix)joint_states</topic>
            <joint_name>$(arg prefix)left_wheel_joint</joint_name>
            <joint_name>$(arg prefix)right_wheel_joint</joint_name>
        </plugin>
    </gazebo>

</robot>
