<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:property name="radio_lidar" value="0.05" />
    <xacro:property name="longitud_lidar" value="0.04" />
    <xacro:property name="paquete_lidar" value="practica1" />

    <joint name="${prefijo_ns}laser_joint" type="fixed">
        <parent link="${prefijo_ns}base_link"/>
        <child link="${prefijo_ns}laser_frame"/>
        <origin xyz="0.1 0 0.4" rpy="0 0 0"/> 
    </joint>

    <link name="${prefijo_ns}laser_frame">
        <visual>
            <geometry>
                <cylinder radius="${radio_lidar}" length="${longitud_lidar}"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${radio_lidar}" length="${longitud_lidar}"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="${longitud_lidar}" radius="${radio_lidar}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>



    <gazebo reference="${prefijo_ns}laser_frame">
        <material>Gazebo/Black</material>

        <sensor name="lidar" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>10</max> <!-- 12 metros por ejemplo de max -->
                </range>
                <noise>
                  <type>gaussian</type>
                  <mean>0.0</mean>
                  <stddev>0.01</stddev>
                </noise>
            </lidar>
            <topic>$(arg prefix)scan</topic>
            <gz_frame_id>$(arg prefix)laser_frame</gz_frame_id>
        </sensor>
    </gazebo>

</robot>
